<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-img src="assets/logo02.gif" alt="Meu App 01" class="logotipo"></ion-img>
          <ion-list-header>News Mobile</ion-list-header>
          <ion-note></ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngIf="auth.user | async as user; else showLogin" routerLink="/profile">
              <ion-thumbnail class="ion-margin-end">
                <img src="{{user.photoURL}}" alt="{{user.displayName}}">
              </ion-thumbnail>
              <div>
                {{user.displayName}}
                <small style="display:block">{{user.email}}</small>
              </div>
            </ion-item>

            <ng-template #showLogin>
              <ion-item routerLink="/login">
                <ion-thumbnail class="ion-margin-end">
                  <img src="assets/user.gif" alt="Logue-se">
                </ion-thumbnail>
                Entrar / Login
              </ion-item>
            </ng-template>

          </ion-menu-toggle>
        </ion-list>

      </ion-content>

      <ion-text class="ion-text-center ion-padding copyright">
        &copy; Copyrigth 2021 Rafael Villardi
      </ion-text>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
