<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Início</ion-title>

    <ion-icon name="phone-portrait" slot="end"
    size="large" class="ion-margin-end" routerLink="/home" color="danger"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptatibus quia soluta provident dolor
    repellat officiis error. Voluptate recusandae libero, nihil aliquid et placeat ab, ut voluptatibus, architecto hic
    pariatur?</p>

</ion-content>
